<div class="event">
	<div class="label">
		<img src="<%= activity.owner.avatar.url %>">
	</div>
	<div class="content">
		<div class="summary">
			<a class="user">
				<%= activity.owner ? activity.owner.first : 'Guest' %>
			</a> saved a quote from the book, <em><%= Book.find(a.trackable.book_id).title %></em>.
			<div class="date">
				<%= a.created_at.strftime('%H:%M %B %-d %Y') %> 
			</div>
		</div>
	</div>
</div>
