<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">About</a>
</div>

<div class="pusher">
  <div id="banner" class="ui vertical masthead center aligned segment">

    <div class="ui text container" style="padding-top: 50px;">
      <h1 class="ui header" style="color: beige;">
        <i class="fa fa-book"></i>
      </h1>
      <h2 style="color: beige;">GoodReads wasn't enough.</h2>
    </div>
  </div>
</div>




<script>
$(document)
  .ready(function() {
    if ($(window).width() > 700) {
      $(window).on({
        scroll: function() {
          var y = $(window).scrollTop();
          var h = 75 - (y / 500) * 25; 
          $('#menu').css({
            height: h,
          });
          $('#title > a > img').css({
            height: h,
          });
        }
      });

    }

    $('.ui.sidebar')
      .sidebar('attach events', '.toc.item')
    ;
  })
;
</script>

