<%= render :partial => "layouts/navbar", :locals => { :active => "home" } %>

<% if current_user %>
<h3>Feed</h3>
<ul>
	<%= render_activities @activities %>
</ul>
<% else %>
<%= render 'signedout' %>
<% end %>
