<li>
  <%= a.created_at.strftime('%H:%M %B %-d %Y') %> 
  <strong><%= activity.owner ? activity.owner.email : 'Guest' %></strong> 
  commented on the book <strong><%= Book.find(a.trackable.book_id).title %></strong>.
</li>