<div class="event">
	<div class="label">
		<img src="/images/avatar/small/elliot.jpg">
	</div>
	<div class="content">
		<div class="summary">
			<a class="user">
				<%= activity.owner ? activity.owner.email : 'Guest' %>
			</a> added the book, <em><%= a.trackable.title %></em>.
			<div class="date">
				<%= a.created_at.strftime('%H:%M %B %-d %Y') %> 
			</div>
		</div>
	</div>
</div>
